.stickerImages{
    display: flex;
    justify-content: flex-end;
}
.stickerImages img{
    margin-left: 30px;
    margin-right: 100px;
}
.stickerImages:last-child{
    margin-right: 0px;
}
.sticker1 {
    position: relative;
}
.sticker2 {
    position: relative;
}
.sticker3 {
    position: relative;
}
.overlay-text {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.overlay-text1 {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.overlay-text2 {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.overlay-text3 {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.overlay-text4 {
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.redtxt{
    color: red;
}