header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(79, 79, 79);
    z-index: 100;
}
header nav ul{
    display: flex;
    justify-content: center;
}
header nav ul li{
    margin: 0 20px;
    list-style: none;
}